
body {
  background-image: url(./imgs/lake-bg-bw-3.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}


.icon-container a i {
  color:black !important; 
}
.fa-cat {
  color: black;
}
.fa-linkedin-in {
  color: black !important;
}
.fa-twitter {
  color: black;
}
.fa-github {
  color: black;
}
.card-deck {
  margin: auto;
  padding-top: 50px;
}

.headline {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  font-style: bold;
}

.headshot {
  max-width: 400px; 
  height: auto; 
}

.aboutMeBox {
  margin:15px;
  padding:15px;
}
.aboutMeText {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

#contact {
  width: auto;
}

.card-title {
  margin: auto;
}

.card{
  background-color: #ddd8ce;
}

.card-body {
  margin: auto;
}
  

.text-center {
  text-align: center!important;
}


/* .container {
	max-width: 980px;
	margin: 0 auto;
}

.icons-container {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: space-around;
  align-items: center;
}


.icon-container {
		box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.6),
			12px 12px 12px 0 rgba(0, 0, 0, 0.03);
		transform: scale(1.05);
	} */


