
body {
	background: #f4f4f4;
}

.fa-cat {
  color: black;
}
.fa-linkedin-in {
  color: black;
}
.fa-twitter {
  color: black;
}
.fa-github {
  color: black;
}
.card-deck {
  margin: auto;
  padding-top: 50px;
}

.headline {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  font-style: bold;
}

.aboutMeText {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#contact {
  width: auto;
}

.card-title {
  margin: auto;
}

.card-body {
  margin: auto;
}
  

.text-center {
  text-align: center!important;
}


/* .container {
	max-width: 980px;
	margin: 0 auto;
}

.icons-container {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: space-around;
  align-items: center;
}


.icon-container {
		box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.6),
			12px 12px 12px 0 rgba(0, 0, 0, 0.03);
		transform: scale(1.05);
	} */


